*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgb(110, 177, 192);
    color: #fff;
    height: 360px;
    padding: 1.5rem;
    text-align: center;
   
}
h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 30px 0;
    
}


button{
    background-color: rgb(60, 0, 255);
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
    padding: 15px 45px;
    
}

button:hover{
    background-color:rgb(239, 235, 224) ;
    color: blue;
    cursor: pointer;
}